<EditForm Model="@Model" OnValidSubmit="DeleteAsync">
    <FluentValidationValidator @ref="_fluentValidationValidator" />
    <MudDialog DisableSidePadding="true" ClassActions="px-2 py-4">
        <DialogContent>
            <MudContainer MaxWidth="MaxWidth.False">
                <MudGrid Class="pt-0 pb-4 px-2">
                    <MudItem xs="12">
                        <MudText>Are you sure you want to delete <b>@LessonName</b>? This action is irrevocable.</MudText>
                    </MudItem>
                </MudGrid>
            </MudContainer>
        </DialogContent>
        <DialogActions>
            <MudButton DisableElevation Variant="Variant.Text" Disabled="IsProcessing" OnClick="Cancel">CANCEL</MudButton>
            <MudButton DisableElevation Variant="Variant.Filled" Disabled="IsProcessing" ButtonType="ButtonType.Submit" Color="Color.Error">
                @if (IsProcessing)
                {
                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                }
                else
                {
                    <span>DELETE</span>
                }
            </MudButton>
        </DialogActions>
    </MudDialog>
</EditForm>
