<EditForm Model="@Model" OnValidSubmit="UpdateAsync">
    <FluentValidationValidator @ref="_fluentValidationValidator" />
    <MudDialog DisableSidePadding="true" ClassActions="px-2 py-4">
        <DialogContent>
            <MudContainer MaxWidth="MaxWidth.False">
                <MudGrid Class="pt-0 pb-4 px-2">
                    <MudItem xs="12">
                        <MudTextField T="string" Variant="Variant.Outlined" For="@(() => Model.Name)" Disabled="IsProcessing" @bind-Value="Model.Name" Placeholder="Name" Label="Name" />
                    </MudItem>
                      <MudItem xs="12">
                        <MudTextField T="string" Variant="Variant.Outlined" For="@(() => Model.CompanyName)" Disabled="IsProcessing" @bind-Value="Model.CompanyName" Placeholder="Company Name" Label="Company Name" />
                    </MudItem>
                </MudGrid>
            </MudContainer>
        </DialogContent>
        <DialogActions>
            <MudButton DisableElevation Variant="Variant.Text" Disabled="IsProcessing" OnClick="Cancel">CANCEL</MudButton>
            <MudButton DisableElevation Variant="Variant.Filled" Disabled="IsProcessing" ButtonType="ButtonType.Submit" Color="Color.Secondary">
                @if (IsProcessing)
                {
                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                }
                else
                {
                    <span>SAVE</span>
                }
            </MudButton>

        </DialogActions>
    </MudDialog>
</EditForm>
