@inherits LayoutComponentBase
@namespace Client.App.Shared

<MudThemeProvider Theme="AppTheme.GetDefaultTheme()" IsDarkMode="true" />
<MudSnackbarProvider />

<MudContainer MaxWidth="MaxWidth.Small">
    <div class="d-flex flex-column">
        <MudText Typo="Typo.h5" Class="mt-6" Align="Align.Center">Message</MudText>
        <MudItem xs="12" sm="12" md="12">
            <div class="pa-4 justify-center my-4 mud-text-align-center">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Link="/">Go Home</MudButton>
            </div>
        </MudItem>
    </div>
</MudContainer>